/* **************** */
/* GENERAL SETTINGS */
/* **************** */

html {
  /* font-family: sans-serif; */
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  font-variant: small-caps;
}

root {
  --blue: #283C57;
  --red: #D71A38;
  --nude: #F5E2B0;
  --brown: #C54846;


  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
}

/* **************** */

/* ********************* */
/* BACKGROUND COLOR SETS */
/* ********************* */

.bg-beige-blue {
  background-color: #F5E2B0;
  color: #283C57
}

.bg-blue-beige {
  background-color: #283C57;
  color: #F5E2B0;
}

.bg-beige-brown {
  background-color: #F5E2B0;
  color: #C54846;
}

.bg-brown-beige {
  background-color: #C54846;
  color: #F5E2B0;
}

.bg-red-pink {
  background-color: #C54846;
  color: #E48E8C;
}

.bg-pink-red {
  background-color: #E48E8C;
  color: #C54846;
}

/* ********************* */

/* *********************** */
/* GENERAL PADDING SETTING */
/* *********************** */

.general-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-marker1 {
  padding-top: 30px;
  padding-bottom: 0px;
}

.title-marker2 {
  padding-top: 50px;
  padding-bottom: 0px;
}

/* ********************* */



/* ******************************************** */
/* BUTTON SETTINGS FOR ABOUT & FIGMA PROTOTYPES */
/* ******************************************** */

.btn {
  border-color: #F5E2B0;
  color: #F5E2B0;
  font-variant: small-caps;
}

.btn:hover {
  color: #283C57;
  background-color: #F5E2B0;
  text-decoration: #283C57;

}

/* ******************************************** */

/* ******************************************* */
/* CAROUSEL SETTING FOR PORTFOLIO AND PROJECTS */
/* ******************************************* */


.figmaCarousel .supportingCarousel .adobeCarousel .cactusCarousel .tuegCarousel {
  margin-bottom: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
  color: #283C57;
}

.carousel-control-prev-icon {
  margin-left: 80px;
}

.carousel-control-next-icon {
  margin-right: 80px;
}

/* ******************************************* */

/* ******* */
/* NAV BAR */
/* ******* */

.navbar {
  background: #C54846;
  color: #F5E2B0;
  font-variant: small-caps;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar-nav {
  position: relative;
}

.navbar-nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(197, 72, 70, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.navbar-collapse.show .navbar-nav::after {
  opacity: 1;
}

@media (max-width: 991.98px) {
  .navbar {
    position: relative;
  }

  .navbar-collapse {
    padding: 1rem;
  }

  .navbar-toggler-close {
    display: none;
  }

  .navbar-collapse.show .navbar-toggler-close {
    display: inline-block;
  }

  .navbar-collapse.show .navbar-toggler-icon {
    display: none;
  }
}

.flag-icon {
  width: 24px;
  height: auto;
  margin-right: 5px;
}

/* Custom styles for the dropdown menu */
.dropdown-menu {
  background-color: #b43a37;
  color: #F5E2B0;
}

/* Ensure the dropdown items inherit the text color */
.dropdown-item {
  color: #F5E2B0;
}

.dropdown-item:hover {
  background-color: #C54846;
  color: #FFF;
}

.dropdown-toggle::after {
  color: #F5E2B0;
}

/* ******* */

/* ********* */
/* HOME PAGE */
/* ********* */

#mypic {
  margin-top: 100px;
  margin-bottom: 20px;
}

#mflower {
  margin-top: 20px;
}

/* ********* */

/* ************* */
/* ABOUT SECTION */
/* ************* */

#about-box {

  background-color: #283C57;
  text-align: center;
  height: 450px;
  width: 100%;
  border-style: solid;
  border-left: 0px;
  border-width: 3px;
  border-radius: 15px;
  border-color: #F5E2B0;
  margin: 0 auto;
  word-wrap: break-word;
  padding: 20px;
  max-width: 510px;
}

@media (max-width: 767.98px) {
  #about-box {
    max-width: 100%;
    height: auto;
  }
}

#grid-container {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  width: 100%;
  margin: 0 auto;
}

#grid-container>div {
  border: none;
  box-sizing: border-box;
  text-align: center;
}

.to-hide {
  visibility: hidden;
}

#beige-flower {
  float: left;
}

@media (max-width: 767.98px) {
  #beige-flower {
    position: relative;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

#img3 {
  float: right;
}

/* ************* */

/* ************** */
/* SKILLS SECTION */
/* ************** */

#blue-flower {
  float: right;
  padding-top: 5%;
}

#skills {
  padding-bottom: 100px;
}

/* ************** */

/* ***************** */
/* LANGUAGES SECTION */
/* ***************** */

#languages {
  padding-top: 80px;
  padding-bottom: 100px;
  min-height: 500px;
}

#red-flower {
  float: left;
}

/* ***************** */

/* **************** */
/* PROJECTS SECTION */
/* **************** */

#supporting {
  padding-bottom: 100px;
}

#grid-supporting {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  height: auto;
  width: 70%;
  margin: 0 auto;

}

#grid-supporting>div {
  border: none;
  box-sizing: border-box;
  text-align: center;
}

/* **************** */

/* ************** */
/* PORTFOLIO LINK */
/* ************** */

.link-frame {
  width: 15%;
  height: 100%;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-bottom: 1.5px solid #FFF;
  border-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: left;
}

.link-portfolio {
  padding: 50px 0;
  background-color: #283C57;
  text-align: center;
}

.link-portfolio h2 {
  margin-bottom: 30px;
}

#link-kerning {
  letter-spacing: 0.15em;
}

#link-kerning2 {
  letter-spacing: 0.3em;
}

.link-frame-text {
  color: #FFF;
  font-size: 5em;
  text-align: center;
  line-height: 1;
  text-align: left;
}

#portLink-btn {
  text-decoration: none;
  color: #FFF;
  border-radius: 0%;
  border-color: #FFF;
  margin-top: 20px;
}

#portLink-btn:hover {
  color: #283C57;
  background-color: #FFF;
}

@media (max-width: 768px) {
  .link-frame {
    width: 30%;
  }

  .link-frame-text {
    font-size: 3em;
  }
}

@media (max-width: 576px) {
  .link-frame {
    width: 50%;
  }

  .link-frame-text {
    font-size: 2em;
  }
}

/* ****** */
/* FOOTER */
/* ****** */

#footer {
  padding-top: 80px;
  padding-bottom: 0;
  background-color: #C54846;
  color: #F5E2B0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

.fa-phone {
  background: null;
  color: #F5E2B0;
  text-decoration: none;
}

.fa-envelope {
  background: null;
  color: #F5E2B0;
  text-decoration: none;
}

.fa-phone:hover {
  text-decoration: #F5E2B0;
}

.fa-envelope:hover {
  text-decoration: #F5E2B0;
}

.links {
  text-decoration: none;
  color: #F5E2B0;
}

.links:hover {
  color: #283C57;
}

.fa-linkedin {
  background: null;
  color: #F5E2B0;
  text-decoration: none;
}

.fa-linkedin:hover {
  text-decoration: #283C57;
}

.fa-facebook {
  background: null;
  color: #F5E2B0;
  text-decoration: none;
}

#last-pic {
  float: middle;
}

#copyright {
  padding-top: 0px;
  background-color: #C54846;
  padding-bottom: 15px;
  text-align: center;
}

/* ****** */


/* ************************************************************** */
/* ************************************************************** */
/* ************************************************************** */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* ************************************************************** */
/* ************************************************************** */
/* ************************************************************** */


/* ************** */
/* PORTFOLIO PAGE */
/* ************** */

/* ******* */
/* NAV BAR */
/* ******* */

.navbar-portfolio {
  background: #283C57;
  color: #F5E2B0;
  font-variant: small-caps;
}

.navbar-portfolio .nav-link:hover {
  text-decoration: underline;
}

.navbar-portfolio .navbar-nav {
  position: relative;
}

.navbar-portfolio .navbar-nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(40, 60, 87, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.navbar-portfolio .navbar-collapse.show .navbar-nav::after {
  opacity: 1;
}

/* Custom styles for the language dropdown menu */
.navbar-portfolio .dropdown-menu {
  background-color: #1c2a3b; /* Match the navbar background color */
  color: #F5E2B0; /* Match the navbar text color */
  border: none; /* Remove border */
}

.navbar-portfolio .dropdown-item {
  color: #F5E2B0; /* Match the navbar text color */
}

.navbar-portfolio .dropdown-item:hover {
  background-color: #283C57; /* Darken the background color on hover */
  color: #FFF; /* Change text color on hover */
}

.navbar-portfolio .dropdown-toggle {
  color: #F5E2B0; /* Match the navbar text color */
}

.navbar-portfolio .dropdown-toggle::after {
  color: #F5E2B0; /* Match the navbar text color */
}

/* Additional styles for smaller screens */
@media (max-width: 991.98px) {
  /* Remove fixed position for smaller screens */
  .navbar-portfolio {
    position: relative;
  }

  .navbar-portfolio .navbar-collapse {
    padding: 1rem;
  }
}



/* ****** */

/* ************ */
/* PORTFOLIO HP */
/* ************ */

.home-frame {
  width: 100%;
  height: 100%;
  border-top: 3px solid #C54846;
  border-right: 2px solid #C54846;
  border-bottom: 1.5px solid #C54846;
  border-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: left;
}

#portfolio-title {
  font-size: 1.5em;
  color: #283C57;
  text-align: center;
  line-height: 1.5;
  font-variant: small-caps;
}

.circle-container {
  position: absolute;
  top: 100px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 10;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.fblue {
  color: #283C57;
}

.fpink {
  color: #E5B89F;
}

.fbrown {
  color: #C54846;
}

.home-portfolio {
  padding: 50px 0;
  background-color: #FFF;
  text-align: center;
}

.home-portfolio h2 {
  margin-bottom: 30px;
}

#home-kerning {
  letter-spacing: 0.15em;
}

#home-kerning2 {
  letter-spacing: 0.3em;
}

.home-frame-text {
  font-size: 5em;
  text-align: center;
  line-height: 1;
  text-align: left;
}

/* ***** */
/* FIGMA */
/* ***** */

.figma-portfolio {
  padding: 50px 0;
  background-color: #FFF;
  text-align: center;
}

.figma-portfolio h2 {
  margin-bottom: 30px;
}

.figma-frame {
  width: 15%;
  height: 45%;
  border-top: 2px solid #C54846;
  border-right: 1.5px solid #C54846;
  border-bottom: 1.5px solid #C54846;
  border-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

#figma-kerning {
  letter-spacing: 0.05em;
}

.figma-frame-text {
  font-size: 5em;
  text-align: center;
  line-height: 1.5;
}

/* Media queries for smaller screens */
@media (max-width: 1200px) {
  .figma-frame {
    width: 20%;
    height: 40%;
  }

  .figma-frame-text {
    font-size: 4em;
  }
}

@media (max-width: 992px) {
  .figma-frame {
    width: 25%;
    height: 35%;
  }

  .figma-frame-text {
    font-size: 3.5em;
  }
}

@media (max-width: 768px) {
  .figma-frame {
    width: 30%;
    height: 30%;
  }

  .figma-frame-text {
    font-size: 3em;
  }
}

@media (max-width: 576px) {
  .figma-frame {
    width: 40%;
    height: 25%;
  }

  .figma-frame-text {
    font-size: 2.5em;
  }
}

#figma-box {
  background-color: #283C57;
  text-align: center;
  border-right: 0px;
  border-top: 3px solid;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-radius: 0%;
  border-color: #F5E2B0;
  margin: 0 auto;
  word-wrap: break-word;
  padding: 20px;
  max-width: 900px;
  position: relative;
  margin-bottom: 30px;
}

@media (max-width: 991.98px) {
  #figma-box {
    max-width: 100%;
    height: auto;
  }

  .figma-frame-text {
    font-size: 2.5em;
    /* Adjust as needed for smaller screens */
  }
}

#grid-figma {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  /* Add gap between grid items */
}

#grid-figma>div {
  border: none;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 767.98px) {
  #grid-figma {
    grid-template-columns: 1fr;
  }

  .figma-frame-text {
    font-size: 2em;
    /* Adjust as needed for smaller screens */
  }

  #bike-app-section,
  #don-page,
  #rest-menu {
    padding: 10px;
  }
}



/* ************ */

/* ***** */
/* ADOBE */
/* ***** */

.adobe-portfolio {
  padding: 50px 0;
  background-color: #FFF;
  text-align: center;
}

.adobe-portfolio h2 {
  margin-bottom: 30px;
}

.adobe-frame {
  width: 15%;
  height: 50%;
  border-top: 2px solid #C54846;
  border-right: 1.5px solid #C54846;
  border-bottom: 1.5px solid #C54846;
  border-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: left;
}

#adobe-kerning {
  letter-spacing: 0.07em;
}

.adobe-frame-text {
  font-size: 5em;
  text-align: center;
  line-height: 1;
  text-align: left;
}

/* Media queries for smaller screens */
@media (max-width: 1200px) {
  .adobe-frame {
    width: 20%;
    height: 45%;
  }

  .adobe-frame-text {
    font-size: 4em;
  }
}

@media (max-width: 992px) {
  .adobe-frame {
    width: 25%;
    height: 40%;
  }

  .adobe-frame-text {
    font-size: 3.5em;
  }
}

@media (max-width: 768px) {
  .adobe-frame {
    width: 30%;
    height: 35%;
  }

  .adobe-frame-text {
    font-size: 3em;
  }
}

@media (max-width: 576px) {
  .adobe-frame {
    width: 40%;
    height: 30%;
  }

  .adobe-frame-text {
    font-size: 2.5em;
  }
}

@media (max-width: 768px) {
  .embed-responsive {
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
  }
}

@media (max-width: 576px) {
  .embed-responsive {
    padding-bottom: 75%;
    /* 4:3 aspect ratio */
  }
}

#grid-adobe {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  width: 90%;
  margin: 0 auto;
}

#grid-adobe>div {
  border: none;
  box-sizing: border-box;
  text-align: center;
}

#premiere-video {
  padding: 2rem 1rem; /* Adjust as needed for general padding */
}

#premiere-video h1 {
  font-size: 2rem; /* Adjust as needed for heading size */
  margin-bottom: 1rem;
}

.video-custom {
  width: 100%;
  height: auto;
  max-height: 500px; /* Adjust this value as needed */
}

@media (max-width: 768px) {
  #premiere-video {
      padding: 1.5rem 1rem; /* Reduce padding on smaller screens */
  }

  #premiere-video h1 {
      font-size: 1.75rem; /* Adjust heading size for smaller screens */
  }

  .video-custom {
      max-height: 300px; /* Adjust this value as needed for smaller screens */
  }
}

@media (max-width: 576px) {
  #premiere-video {
      padding: 1rem 0.5rem; /* Reduce padding further on extra small screens */
  }

  #premiere-video h1 {
      font-size: 1.5rem; /* Adjust heading size for extra small screens */
  }

  .video-custom {
      max-height: 200px; /* Adjust this value as needed for extra small screens */
  }
}


/* ****** */
/* CACTUS */
/* ****** */

.cactus-portfolio {
  padding: 50px 0;
  background-color: #FFF;
  text-align: center;
}

.cactus-portfolio h2 {
  margin-bottom: 30px;
}

.cactus-frame {
  width: 20%;
  height: 45%;
  border-top: 2px solid #C54846;
  border-right: 1.5px solid #C54846;
  border-bottom: 1.5px solid #C54846;
  border-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

#cactus-kerning {
  letter-spacing: 0em;
}

.cactus-frame-text {
  font-size: 5em;
  text-align: center;
  line-height: 1.5;
}

/* Media queries for smaller screens */
@media (max-width: 1200px) {
  .cactus-frame {
    width: 20%;
    height: 40%;
  }

  .cactus-frame-text {
    font-size: 4em;
  }
}

@media (max-width: 992px) {
  .cactus-frame {
    width: 25%;
    height: 35%;
  }

  .cactus-frame-text {
    font-size: 3.5em;
  }
}

@media (max-width: 768px) {
  .cactus-frame {
    width: 30%;
    height: 30%;
  }

  .cactus-frame-text {
    font-size: 3em;
  }
}

@media (max-width: 576px) {
  .cactus-frame {
    width: 40%;
    height: 25%;
  }

  .cactus-frame-text {
    font-size: 2.5em;
  }
}


/* **** */
/* TUEG */
/* **** */

.tueg-portfolio {
  padding: 50px 0;
  background-color: #FFF;
  text-align: center;
}

.tueg-portfolio h2 {
  margin-bottom: 30px;
}

.tueg-frame {
  width: 15%;
  height: 45%;
  border-top: 2px solid #C54846;
  border-right: 1.5px solid #C54846;
  border-bottom: 1.5px solid #C54846;
  border-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

#tueg-kerning {
  letter-spacing: 0.2em;
}

.tueg-frame-text {
  font-size: 5em;
  text-align: center;
  line-height: 1.5;
}

/* Media queries for smaller screens */
@media (max-width: 1200px) {
  .tueg-frame {
    width: 20%;
    height: 40%;
  }

  .tueg-frame-text {
    font-size: 4em;
  }
}

@media (max-width: 992px) {
  .tueg-frame {
    width: 25%;
    height: 35%;
  }

  .tueg-frame-text {
    font-size: 3.5em;
  }
}

@media (max-width: 768px) {
  .tueg-frame {
    width: 30%;
    height: 30%;
  }

  .tueg-frame-text {
    font-size: 3em;
  }
}

@media (max-width: 576px) {
  .tueg-frame {
    width: 40%;
    height: 25%;
  }

  .tueg-frame-text {
    font-size: 2.5em;
  }
}


/* ***************** */
/* PORTFOLIO SECTION */
/* ***************** */

#grid-portfolio {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  width: 80%;
  margin: 0 auto;
}

#grid-portfolio>div {
  border: none;
  box-sizing: border-box;
  text-align: center;
}

#fflower {
  float: center;
}

/* ***************** */

/* ******* */
/* CLOSING */
/* ******* */

.closing-frame {
  width: 15%;
  height: 45%;
  border-top: 2px solid #C54846;
  border-right: 1.5px solid #C54846;
  border-bottom: 1.5px solid #C54846;
  border-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  padding: 10px;
}

@media (max-width: 576px) {
  .closing-frame {
    width: 40%;
    height: 25%;
  }


}



.btn-linkedin2 {
  color: #283C57;
  background-color: #FFF;
  border: solid #283C57 1px;
  margin-bottom: 40px;
}

.btn-linkedin2:hover {
  color: #FFF;
  background-color: #283C57;
}

/* ****** */
/* FOOTER */
/* ****** */

/* Footer Styles */
.footer-portfolio {
  background-color: #283C57;
  color: #FFF;
}

#footer-portfolio {
  padding-top: 80px;
  padding-bottom: 0;
  color: #FFF;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

.footer-portfolio .fa-phone,
.footer-portfolio .fa-envelope,
.footer-portfolio .fa-linkedin,
.footer-portfolio .fa-facebook {
  background: none;
  color: #FFF;
  /* Set the color to white */
  text-decoration: none;
}

.footer-portfolio .fa-phone:hover,
.footer-portfolio .fa-envelope:hover,
.footer-portfolio .fa-linkedin:hover,
.footer-portfolio .fa-facebook:hover {
  text-decoration: none;
}

.footer-portfolio .links {
  text-decoration: none;
  color: #FFF;
  /* Set the color to white */
}

.footer-portfolio .links:hover {
  color: #283C57;
  /* Change the color on hover */
}

.portfolio-links {
  text-decoration: none;
  color: #FFF;
}

.portfolio-links:hover {
  color: #F5E2B0;
}

.portfolio-icons {
  color: #FFF;
  /* Set the color to white */
}

.portfolio-icons:hover {
  color: #F5E2B0;
  /* Change the color on hover */
}

#last-pic-portfolio {
  float: middle;
}

#copyright-portfolio {
  padding-top: 0px;
  background-color: #283C57;
  padding-bottom: 15px;
  text-align: center;
}