body {
  font-family: 'Montserrat', sans-serif;
  background-color: #C54846;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-variant: small-caps;
}

.navbar {
  background: #C54846;
  color: #F5E2B0;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar-nav {
  position: relative;
}

.navbar-nav::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(197, 72, 70, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.navbar-collapse.show .navbar-nav::after {
  opacity: 1;
}

#about {
  padding-top: 80px;
  background-color: #283C57;
  color: #F5E2B0;
  padding-bottom: 50px;
}

#about-box {

  background-color: #283C57 ;
  text-align: center;
  height: 270px;
  width: 510px;
  border-style: solid;
  border-left: 0px;
  border-width: 3px;
  border-radius: 0px;
  border-color: #F5E2B0;  
  margin: 0 auto;
  word-wrap: break-word;
  padding: 20px;

}

#figma-box {

  background-color: #283C57 ;
  text-align: center;
  height: 280px;
  width: 900px;
  border-style: solid;
  border-right: 0px;
  border-width: 3px;
  border-radius: 0px;
  border-color: #F5E2B0;  
  margin: 0 auto;
  word-wrap: break-word;
  padding: 20px;

}

/* PORTFOLIO PAGE */

#port-page{
  background-color: white;
}

#grid-container {
  display: grid;  
  grid-template-columns: 5% 90% 5%;
  width: 100%;
  margin: 0 auto;  
}

#grid-container > div {  
  border: none;
  box-sizing: border-box;
  text-align: center;
}

#grid-portfolio {
  display: grid;  
  grid-template-columns: 10% 80% 10%;
  width: 80%;
  margin: 0 auto;  
}

#grid-portfolio > div {  
  border: none;
  box-sizing: border-box;
  text-align: center;
}

#grid-figma {
  display: grid;
  grid-template-columns: 45% 10% 45%;  
  width: 90%;
  margin: 0 auto;  
}

#grid-figma > div {  
  border: none;
  box-sizing: border-box;
  text-align: center;
}

#grid-projects {
  display: grid;  
  grid-template-columns: 20% 60% 20%;
  width: 50%;
  margin: 0 auto; 
   
}

#grid-projects > div {  
  border: none;
  box-sizing: border-box;
  text-align: center;
}

.to-hide{
  visibility: hidden;
}

#secondCarousel, #firstCarousel{
  margin-bottom: 50px;
}

.carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%);
    color: #283C57;
  }

  .carousel-control-prev-icon{
    margin-left: 80px;
  }
  .carousel-control-next-icon{
    margin-right: 80px;
  }

 
/* ************************************************************* */





/* a:hover {
  color: #283C57;
  text-decoration: none;
} */

.btn {
  border-color: #F5E2B0; 
  color: #F5E2B0;
}

.btn:hover {
  color:#283C57;
  background-color: #F5E2B0;
  text-decoration: #283C57;

}

#mypic {
  margin-top: 100px;
  margin-bottom: 20px;
}

.bg-main2 {
  background-color: #F5E2B0;
  color:#283C57
}

.bg-main1 {
  background-color: #F5E2B0;
  color:#C54846;
}

.bg-brown {
  background-color: #C54846;
  color: #F5E2B0;
}

.color-red {
  color: #D71A38;
}

.bg-darkblue {
  color: #283C57;
}

root {
  --blue: #283C57;
  --red: #D71A38;
  --nude: #F5E2B0;
  --brown: #C54846;

  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;

}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  color: #C54846;
  line-height: 1.5;
  text-align: left;
  background-color: #F5E2B0;
}



#main {
  padding-top: 175px;
  color: #F5E2B0;
  padding-bottom: 0px;
}

#red-flower {
  float: left;
}



#img2 {
  float: left;
}

#img3 {
  float: right;
}

#fflower {
  float: center;
}

#skills {
  padding: 80px;
  color: #C54846;
  background-color: #F5E2B0;
}

#blue-flower {
  float: right;
}

.card {
  background-color: #Fff;
}

#projects {
  margin-top: 50px;
  color: #F5E2B0;
  background-color: #F5E2B0;
  margin-bottom: 0px;

}

#portfolio {
  padding-top: 50px;
  ;
  color: #F5E2B0;
  background-color: #F5E2B0;
  padding-bottom: 0px;

}

#figma {
  padding-top: 50px;
  color: #F5E2B0;
  background-color: #283C57;
  padding-bottom: 50px
}

#languages {
  padding: 100px;
  color: #F5E2B0;
  background-color: #283C57;
}


#album {
  padding-top: 0px;
  background-color: #F5E2B0;
  padding-bottom: 100px;
}

#album-portfolio {
  padding: 0px;
  color: #F5E2B0;
  background-color: #F5E2B0;
}

.button{
  background-color: #283C57;
  color: #F5E2B0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}



#footer {
  padding-top: 50px;
  padding-bottom: 0;
  background-color: #C54846;
  color: #F5E2B0;
}

#last-pic {
  float: middle;
}

#copyright {
  padding-top: 0px;
  background-color: #C54846;
  padding-bottom: 15px;
  text-align: center;
}

/* .footer {
  padding-top: 50px;
  padding-bottom: 0;
  color: #F5E2B0;
  background-color: #C54846;

} */

.icons1 {
  color:#F5E2B0  
}
.icons1:hover{
  text-decoration: #283C57;
}

.fa-phone {
  background: null;
  color: #F5E2B0;
  text-decoration: none;
}

.fa-envelope {
  background: null;
  color: #F5E2B0;
  text-decoration: none;
}

.fa-phone:hover {
  text-decoration: #F5E2B0;
}

.fa-envelope:hover {
  text-decoration: #F5E2B0;
}

.links {
  text-decoration: none;
  color: #F5E2B0;
}
.links:hover{
  color: #283C57;
}

.fa-linkedin {
  background: null;
  color: #F5E2B0;
  text-decoration: none;
}

.fa-linkedin:hover {
  text-decoration: #283C57;
}

.fa-facebook {
  background: null;
  color: #F5E2B0;
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}



@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}